.centerThis{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding: 4px;
    margin: 1vw;
}


header {
    background-color: green;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 8px;
    -ms-flex-align: center;
}

#spaced {
    display: flex;
    justify-content: space-between;  
    background-color: green;  
}

body{
    margin: 0px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.column {
    flex: 1;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(64, 143, 69);
    text-decoration:dotted;
}

ul {
    padding-left: 20px;
    margin: 0px;
    list-style-position: outside;
}

li {
    margin:  5px 0;
}

.text-box {
    max-width: 350px;
    margin: 0 auto;
}

.text-box h3[data-color="green"] {
    color: rgb(8, 161, 33);
}

.text-box h3[data-color="red"] {
    color: red;
}

.infobox {
    width: 45%;
    background-color: white;
}

.infobox text {
    font-size: 25px;
}

.menu {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    
}